{% extends "base.html" %}

{% block title %}Meus Chamados{% endblock %}

{% block page_title %}Meus chamados{% endblock %}
{% block page_subtitle %}
Acompanhe aqui todas as solicitações abertas por você.
{% endblock %}

{% block content %}
<div class="content-section">
  <div style="display: flex; justify-content: space-between; align-items: center; gap: 12px; flex-wrap: wrap; margin-bottom: 18px;">
    <h2 style="margin-bottom: 0;">Lista de chamados</h2>

    <a class="btn" href="{{ url_for('novo_chamado') }}">
      Novo chamado
    </a>
  </div>

  {% if chamados %}
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Protocolo</th>
            <th>Título</th>
            <th>Categoria</th>
            <th>Prioridade</th>
            <th>Status</th>
            <th>Última atualização</th>
            <th>Ação</th>
          </tr>
        </thead>

        <tbody>
          {% for chamado in chamados %}
            <tr>
              <td>
                <strong>{{ chamado.protocolo or ('CH-' ~ chamado.id) }}</strong>
              </td>
              <td>{{ chamado.titulo }}</td>
              <td>{{ chamado.categoria }}</td>
              <td>
                {% if chamado.prioridade == "Alta" %}
                  <span class="badge badge-prioridade-alta">Alta</span>
                {% elif chamado.prioridade == "Média" %}
                  <span class="badge badge-prioridade-media">Média</span>
                {% else %}
                  <span class="badge badge-prioridade-baixa">Baixa</span>
                {% endif %}
              </td>
              <td>
                {% if chamado.status == "Aberto" %}
                  <span class="badge badge-novo">Aberto</span>
                {% elif chamado.status == "Em atendimento" %}
                  <span class="badge badge-andamento">Em atendimento</span>
                {% elif chamado.status == "Aguardando usuário" %}
                  <span class="badge badge-aguardando">Aguardando usuário</span>
                {% else %}
                  <span class="badge badge-resolvido">Finalizado</span>
                {% endif %}
              </td>
              <td>
                {{ chamado.data_atualizacao.strftime('%d/%m/%Y %H:%M') if chamado.data_atualizacao else '-' }}
              </td>
              <td>
                <a class="btn btn-success" href="{{ url_for('detalhe_chamado', id=chamado.id) }}">
                  Ver detalhes
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p class="empty-text">Você ainda não abriu nenhum chamado.</p>
  {% endif %}
</div>
{% endblock %}
